/* reset styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  height: 50px;
}

.test {
  color: #326dee;
}

body {
  font-family: Poppins;
}

.general-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 20px;
}
.general-nav .header-left {
  display: flex;
  align-items: center;
}
.general-nav .header-left img {
  width: 125px;
  height: 25px;
  padding: 0 25px;
  display: block;
}
.general-nav .header-center {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 28px;
}
.general-nav .header-center form {
  display: flex;
}
.general-nav .header-center form img {
  width: 20px;
  height: 20px;
  border: 10px solid black;
}
.general-nav .header-center form input {
  width: 100%;
  height: 36px;
  padding-left: 12px;
  padding-right: 26px;
  border: 1px solid #e5e5e5;
}
.general-nav .header-center form input:focus {
  outline: none;
}
.general-nav .header-right .general-nav-icons {
  display: flex;
  justify-content: space-around;
}
.general-nav .header-right .general-nav-icons img {
  width: 21px;
  height: 20px;
  padding: 0 5px;
}

.categories-nav {
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  height: 40px;
  padding: 0 45px;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.04);
  font-size: 13px;
  font-weight: 400;
}
.categories-nav .categories-dropdown {
  display: inline-block;
  height: 100%;
}
.categories-nav .categories-dropdown .dropdown {
  height: 100%;
  padding: 10px 10px 0 10px;
}
.categories-nav .categories-dropdown .dropdown .hovering {
  transform: rotate(180deg);
  transition: 0.2s ease-in-out;
}
.categories-nav .categories-dropdown .dropdown .notHovering {
  transition: 0.2s ease-in-out;
}
.categories-nav .categories-dropdown .dropdown img {
  width: 10px;
  height: 10px;
  padding: 0 5px;
}
.categories-nav .categories-dropdown :hover {
  background-color: #e8e8e8;
}
.categories-nav .categories-carousel-content {
  height: 100%;
  position: relative;
  overflow: hidden;
  flex: 1;
}
.categories-nav .categories-carousel-content .categories-carousel-controller {
  position: absolute;
  white-space: nowrap;
  height: 100%;
}
.categories-nav .categories-carousel-content .categories-carousel-controller :hover {
  background-color: #e8e8e8;
}
.categories-nav .categories-carousel-content .categories-carousel-controller .category {
  display: inline-block;
  height: 100%;
  padding: 10px 10px 0 10px;
}
.categories-nav .categories-scroller {
  height: 100%;
  box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
}
.categories-nav .categories-scroller :hover {
  cursor: pointer;
}
.categories-nav .categories-scroller img {
  width: 10px;
  height: 10px;
  padding: 0 10px;
}

.top-banner {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 1230px;
  margin: 0 auto;
}