.product-info {
    padding-bottom: 25px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 25px;

    .product-name {
        font-size: 14px;
    }

    .product-info-minor-details {
        display: flex;
        align-items: flex-end;

        .sku {
            color: #767676;
            font-size: 12px;
            margin-right: 10px;
        }
    
        .ratings {
            display: flex;
            color: #facf19;
            font-size: 12px;
    
            img {
                height: 16px;
                margin: 0 3px;
            }
        }
    }
}