.product-accordion {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;

    .accordion {
        width: 100%;

        .accordion-header {
            cursor: pointer;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            img {
                height: 10px;
                width: 10px;
            }

            .accordion-header-title {
                font-weight: 700;
                font-size: 16px;
            }
        }

        .accordion-details {
            padding: 10px 0;

            .description-table {
                display: table;
                width: 100%;
                font-size: 12px;
                color: #222;

                .description-table-item {
                    display: table-row;
                    line-height: 20px;

                    .description-table-item-key {
                        display: table-cell;
                        width: 50%;
                        padding-right: 25px;
                    }

                    .description-table-item-val {
                        display: table-cell;
                        width: 50%;
                    }
                }
            }

            .size-and-fit {
                .size-and-fit-header {
                    font-weight: 700;
                    font-size: 12px;
                    color: #222;
                    margin-bottom: 15px;
                }

                .measurement-types {
                    cursor: pointer;
                    display: flex;
                    width: 76px;
                    height: 24px;
                    border: 1px solid #000000;

                    .measurement-type {
                        width: 28px;
                        height: 24px;
                        line-height: 24px;
                        padding: 0 5px;
                        font-size: 12px;
                        text-align: center;
                    }

                    .selected {
                        color: #ffffff;
                        background-color: #000000;
                    }
                }

                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;
                    margin-top: 15px;
                    font-size: 12px;
                    text-align: center;
                    display: table;

                    thead {
                        tr {
                            display: table-row;
                    
                            th {
                                display: table-cell;
                                width: 65px;
                                height: 38px;
                                padding: 0 4px;
                                border: 1px solid #e5e5e5;
                            }
                        }
                    }

                    tbody {
                        tr {
                            display: table-row;
                    
                            td {
                                display: table-cell;
                                width: 65px;
                                height: 38px;
                                padding: 0 4px;
                                border: 1px solid #e5e5e5;
                            }
                        }
                    }
                }
            }

            .store-details {
                .store-details-top-level {
                    display: flex;

                    img {
                        width: 40px;
                        height: 40px;
                        padding: 1px;
                        border: 1px solid #e5e5e5;
                    }

                    .white-space {
                        width: 8px;
                        height: 8px;
                    }

                    .info-box {
                        .info-box-header {
                            display: flex;

                            .store-name {
                                font-weight: 700;
                                font-size: 16px;
                            }

                            .store-tags {
                                padding-left: 4px;

                                .store-tag {
                                    padding: 0 6px;
                                    height: 20px;
                                    line-height: 20px;
                                    font-size: 12px;
                                    color: #198055;
                                    background-color: #f5fcfb;
                                }
                            }
                        }

                        .info-box-details {
                            margin-top: 9px;
                            display: flex;

                            .detail-item {
                                display: flex;
                                align-items: center;

                                .detail-data {
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                .detail-type {
                                    padding-left: 2px;
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 17px;
                                    color: #767676;
                                }
                            }

                            .detail-item-separation {
                                padding: 0 8px;
                                color: #e5e5e5;
                            }
                        }
                    }
                }

                .store-details-bottom-level {
                    display: flex;
                    align-items: center;

                    a {
                        width: 100%;

                        .store-detail-button {
                            font-weight: 400;
                            font-size: 14px;
                            width: 100%;
                            height: 36px;
                            line-height: 36px;
                            text-align: center;
                            border: 1px solid #ccc;
                            margin-top: 12px;
                        }
                    }

                    .white-space {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}