.shipping-info {
    margin-top: 25px;
    display: flex;
    flex-direction: column;

    .shipping-header {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin: 15px 0 28px 0;
    }

    .shipping-section {
        width: 100%;
        padding: 0 20px 8px 0;

        .shipping-section-header {
            display: flex;
            justify-content: flex-start;

            img {
                height: 24px;
                width: 24px;
            }

            .shipping-section-header-title {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-size: 13px;
                padding: 0 0 6px 6px;
                margin-bottom: 5px;
                line-height: 24px;
            }
        }

        .shipping-section-details {
            color: #767676;
            margin-left: 32px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;

            .shipping-options-content {
                display: flex;
                justify-content: space-between;

                .shipping-option {
                    background-color: #f6f6f6;
                    padding: 10px;
                    margin-right: 10px;
                    cursor: pointer;
                    color: #767676;
                    font-size: 12px;

                    .shipping-option-details {
                        margin-bottom: 5px;

                        .shipping-price {
                            font-weight: 700;
                            color: #222;
                        }

                        .free-shipping-price {
                            color: #198055;
                        }
                    }

                    .shipping-option-percentage {
                        color: #A86104;
                    }
                }
            }

            .shipping-extra-info {
                cursor: pointer;
            }
        }
    }
}