.contact-info {
    font-family: Arial, Helvetica, sans-serif;

    h6 {
        font-weight: 700;
        font-size: 12px;
        color: #222;
        line-height: 14px;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        width: 100%;

        .footer-input {
            width: 100%;

            .phone {
                display: flex;
            }

            input {
                width: 100%;
                height: 34px;
                padding: 0 12px;
                border: 1px solid #ccc;
            }

            input:focus {
                border: 1px solid #000000;
                outline: none;
            }

            .footer-tips {
                height: 20px;
                padding-bottom: 5px;
                margin-bottom: 5px;

                .input-error-text {
                    color: #d53333;
                    font-size: 12px;
                    margin-top: 6px;
                }
            }

            .privacy-statement {
                color: #666;
                font-size: 12px;

                a {
                    text-decoration: underline;
                    color: #2d68a8;
                }
            }
        }

        .subscribe {
            display: inline-block;
            min-width: 144px;
            height: 36px;
            line-height: 36px;
            color: #ffffff;
            background-color: #000000;
            font-weight: 700;
            font-size: 14px;
            text-align: center;
        }

        .subscribe:hover {
            cursor: pointer;
            color: rgb(255, 255, 255, 0.95);
            background-color: rgba(0, 0, 0, 0.8);
        }
        
        .phone-country-code {
            min-width: 80px;
            height: 34px;
            line-height: 34px;
            font-size: 12px;
            display: flex;
            text-align: center;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            color: #222;
            border: 1px solid #e5e5e5;
            background-color: #fff;

            img {
                width: 8px;
                height: 8px;
                margin-left: 4px;
            }
        }
    }
}