.categories-nav {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    height: 40px;
    padding: 0 45px;
    border-bottom: 2px solid #e8e8e8;
    font-size: 13px;
    font-weight: 400;

    .categories-dropdown {
        padding: 0 10px;
    }

    .categories-carousel-content {
        height: 100%;
        top: 25%;
        position: relative;
        overflow: hidden;
        -webkit-box-flex: 1;
        flex: 1;

        .categories-carousel-controller {
            position: absolute;
            white-space: nowrap;

            .category {
                display: inline-block;
                padding: 0 10px;
            }
        }
    }
}