.categories-nav {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    height: 40px;
    padding: 0 45px;
    border-bottom: 2px solid #e8e8e8;
    font-size: 13px;
    font-weight: 400;

    .categories-dropdown {
        display: inline-block;
        height: 100%;

        .dropdown {
            height: 100%;
            padding: 10px 10px 0 10px;
        }

        & :hover {
            background-color: #e8e8e8;
        }
    }

    .categories-carousel-content {
        height: 100%;
        position: relative;
        overflow: hidden;
        -webkit-box-flex: 1;
        flex: 1;

        .categories-carousel-controller {
            position: absolute;
            white-space: nowrap;
            height: 100%;

            & :hover {
                background-color: #e8e8e8;
            }

            .category {
                display: inline-block;
                height: 100%;
                padding: 10px 10px 0 10px;
            }
        }
    }
}